@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: url(/img/bgtest2.png) no-repeat center fixed;
  background-size: cover;
}

.nav { 
  background-color: rgb(27, 27, 27);
  padding: 5px;
  position: fixed;
  z-index: 990;
}

.nav-ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0;
  margin: 0;
}

.poketintouin {
  position: relative;
  right: 5px;
  width: 15%;
  background-color: rgb(27, 27, 27);
  margin-right: 20px;
  z-index: 999;
}

.li {
  position: relative;
  right: 70.2%;
}

.nav-item {
  text-decoration: none;
  color: #FECA14;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  background-color: rgb(27, 27, 27);
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 30px 39.3px;
  position: relative;
  z-index: 998;
}

.pokedex {
  text-decoration: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: 15px;
}

.home:hover {
  background-color: beige;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: 15px;
  text-decoration-color: black;
}

.pikachu {
  width: 5%;
  position: absolute;
  left: 35%;
  animation: runAcross 8s linear infinite;
  z-index: 10;
}

@keyframes runAcross {
  0% {
    left: -100px;
  }
  100% {
    left: 98vw;
  }
}

.john-lab {
  margin-left: 40%;
}

.labs {
  position: fixed;
  border-left: 3px solid black;
  margin-top: 185px;
  right: 0;
  width: 700px;
  height: 1095px;
}

.search {
  width: 100%;
  max-width: 600px;
  margin: 15px auto;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: #363636;
}

.john_goat {
  width: 10%;
  height: auto;
  top: 68%;
  left: 90%;
  position: fixed;
  animation: breathing 4s ease-in-out infinite;
  transform-origin: bottom;
}

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.026);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fuite {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(200%) rotate(1080deg);
    opacity: 0;
  }
}

.fuite {
  animation: fuite 3s forwards;
}

.bulle-dialogue {
  position: fixed;
  bottom: 350px; 
  right: 200px; 
  max-width: 300px;
  background: #f3ead0;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.2rem;
  box-shadow: 3px 3px 2px black;
}

/* ---------------------------------------------------- */

/* Ajout du triangle de la bulle façon BD */

.bulle-dialogue::after {
  content: "";
  position: absolute;
  bottom: -20px; 
  right: 15px; 
  border-width: 11px 11px 0 11px;
  border-style: solid;
  border-color: white transparent;
}

.bulle-dialogue::before {
  content: "";
  position: absolute;
  bottom: -23px;
  right: 12px;
  border-width: 12px 12px 0 12px;
  border-style: solid;
  border-color: black transparent;
}

/* ---------------------------------------------------- */

.page-container {
  color: #FECA14;
  background: url(/img/fond-plat-demi-teinte-noir-blanc.png);
  background-color:  rgb(43, 40, 40);
  background-size: 32%;
  border-bottom: rgb(0, 0, 0) 3px solid;
  box-shadow: 0 5px 7px 1px rgba(29, 29, 29, 0.822);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  top: 137px;
  padding: 1px;
  width: 67.99%;
  position: fixed;
  z-index: 1000;
}

.spacer {
  margin-top: 350px;
}

@media (max-width: 1920px) {
  .labs {
    margin-top: 137px;
    width: auto;
    height: 95%;
  }

  .bulle-dialogue {
    bottom: 260px; 
    right: 150px; 
    max-width: 250px;
  }
  .page-container {
    width: 69.2%;
    background-size: 15%;
  }
}

@media (max-width: 1600px) {
  .page-container {
    background-size: 22%;
    width: 68.4%;
    top: 107px;
  }

  .bulle-dialogue {
    bottom: 220px;
    right: 125px;

  }

  .liste {
    gap: 40px;
    padding: 50px;
  }
  
  .pokemon {
    width: 170px;
    height: 140px;
    font-size: 1.8rem;
  }

  .labs {
    margin-top: 108px;
  }
}

@media (max-width: 768px) {
  .nav {
    height: 60px;
  }
}

/* ------------------------------------------------- */

#pokeList {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(229, 208, 157);
  top: 290px;
  left: 60px;
  bottom: 60px;
  padding: 20px;
  width: 60%;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 15px 0 rgb(0, 0, 0);
  border-radius: 10px;
}

#pokemonDisplay {
    background-color: antiquewhite;
    border-radius: 10px;
    border: 1px solid black;
    width: 30%;
    height: 15rem;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    filter: brightness(0.8);
}

#pokemonDisplay:hover {
    transform: scale(1.06);
    filter: brightness(1);
}

#headerContainer {
    display: flex;
    justify-content: space-around;
}

#pokemonDisplayIdentity {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    background-color: rgb(230, 202, 176);
    border-radius: 10px;
    width: 12rem;
    margin: 0 auto;
    margin-top: 0.8rem;
    font-family: sans-serif;
}

/* #pokemonDisplayIdentity:hover {
    background-color: rgb(172, 231, 192);
    
} */

#pokemonDisplayIdentity > a {
    text-decoration: none;
    color: black;
}

#pokemonDisplayIdentity > a:hover {
    text-decoration: none;
    color: red;
}

#pokemonDisplayName {
    margin-right: 0.25rem;
}

#pokemonDisplayId {
    margin: 5px;
}

#pokemonDisplayImage {
    display: flex;
    justify-content: center;
}

#pokemonImage > img {
    width: 10rem;
}

/* détail du pokémon */

#pokemonDisplayDetail {
    background-color: antiquewhite;
    border-radius: 10px;
    border: 1px solid black;
    width: 65%;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;

    flex-direction: column;
}

#headerContainerDetail {
    display: flex;
    justify-content: space-around;
}

#pokemonDisplayIdentityDetail {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    background-color: rgb(204, 231, 231);
    border-radius: 10px;
    width: 30rem;
    margin: 0 auto;
    margin-top: 0.15rem;
}

#pokemonDisplayIdentityDetail:hover {
    background-color: rgb(172, 231, 192);  
}

#pokemonDisplayNameDetail {
    margin-right: 0.25rem;
}

#pokemonDisplayIdDetail {
    margin: 5px;
}

#pokemonDisplayImageDetail {
    display: flex;
    justify-content: center;
}

#pokemonImageDetail > img {
    width: 40rem;
}

#typeContainerDetail {
    display: flex;
    justify-content: center;
}

#typeContainerDetail > img {
    width: 2.5rem;
}

#allTypesDetail {
    display: flex;
    flex-direction:row;
}


#pokemonInfoEvolutionDetail {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#statsContainerDetail {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

#titleDetail{
  display: flex;
  justify-content: center;
}